<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi heladeria</title>
<link rel="stylesheet" 
href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Mi heladeria</h1>
    </header>


    <section class="hero" >
        <button class="btn" id="btnInfo">Ver más</button>
    </section>

    <div class="hi">
        <h1>Hola,bienvenido a mi plataforma digital</h1>
    </div> 
      <div class="modal" id="modal">
        <div class="modal-content">
            <span id="cerrar" class="close">&times;</span>
            <h2>Información adicional</h2>
            <p>Esta página esta echa por unn estudiante del SENA, del Programa de Formación Profesional, Técnico en programación de Software.</p>
        </div>
    </div>

    <section class="tarjetas">
        <div class="card">
            <h1> Esta  de prueba </h1>
        </div>

        <div class="card">
            <h1>es una  diseño  web  </h1>
        </div>

        <div class="card" >
            <h1>pagina de</h1>
        </div>
    </section>
  
    <script src="../static/js/comportamiento.js" defer></script>
<div class="barrita">
    <h1>Menú</h1>
     <nav>
        <a class="h" href="home.html">Inicio</a>
        <br>
        <a class="h" href="productos.html">Productos</a>
    </nav>
    
</body>

</html>